@import url("https://use.typekit.net/aam7rvz.css");
:root{
    /* fonts */
    --f-title: century-gothic, sans-serif;

    /* colors */
    --c-paars: #5b3985;
    --c-wit: #ffffff;
    --c-zwart: #000000;

    overflow-x: hidden;
}